#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: width 4s;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

<!--with the code below, the button moves horizontally to the left. Need to figure out how to get button to get slightly larger when hovering over it-->

button:hover{
  background-color: green;
}

