body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border: 9px solid white;
  margin: auto;
  font-size: large;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  border: 5px solid white;
  padding: 15px;
  display: block;
  font-size: small;
 
}

.button-container {
  background: #e3f4ff;
  border: 5px solid white;
  padding: 10px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: block; 
  margin: auto;
}